#newsmag {
  bottom: 20px;
  right: 20px;
  position: fixed;
  padding: 6px;
  background-color: #181818;
  border-radius: 5px;
  display: block;
  z-index: 1;
}

#newsmag svg {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}

#newsmag:hover {
  background-color: #2e2e2e;
}
#quicknews {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 14000;
  background-color: #181818a8;
  border-bottom: 2px solid white;
  display: none;
}
#quicknews span {
  display: inline-block;
  font-size: 14px;
  padding: 6px 10px;
  background-color: #ce0c0c;
  color: white;
  cursor: pointer;
  width: 100%;
}
#quicknews span:hover {
  background-color: #e92121;
}
#quicknews div {
  padding: 10px;
  max-width: 700px;
  background-color: #1f1f1f;
}
#quicknews hr {
  border-color: #595a5a48;
}
#quicknews a {
  margin: 4px;
  font-size: 14px;
}
.navbar-subitem a {
  color: #141414a6;
  text-align: left;
}
.navbar-subitem {
  text-align: left;
}

.nav-subitem a {
  color: #0a05a9b7;
}
.nav-subitem {
  text-align: center;
}
.nav-conas {
  font-family: "Courier New", Courier, monospace;
  bottom: 0px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}
.nav-conas:hover {
  right: 10px;
}

#conconas {
  top: 0px;
  position: fixed;
  display: block;
  background-color: #181717d7;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: none;
  z-index: 8000;
}

#conconas div {
  max-width: 800px;
  background-color: #bebebe;
}

#dasesd,
#mastrowall,
#mwfbiz,
#dsonic,
#reviews {
  display: block;
}

#signdiv {
  padding: 5px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  width: 240px;
  border-radius: 5px;
  background-color: #242424;
  display: none;
  z-index: 100;
}

#audioframe {
  top: 0px;
  /* right:0px; */
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
}
#audioframe iframe {
  height: 100%;
  width: 100%;
  border: 0px;
}
#onaudio {
  cursor: pointer;
}

#clsaud {
  top: 10px;
  right: 10px;
  position: fixed;
  padding: 4px 10px;
  background-color: #181818;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  cursor: pointer;
  z-index: 1000;
}

#clsaud:hover {
  background-color: #3f3f3f;
}

#clssigndiv {
  float: right;
  padding: 0px 6px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
#clssigndiv:hover {
  background-color: #3f3f3f;
}

#about {
  background-image: url("../assets/img/sectCover/sd.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #dad8d8;
}
#dasesd {
  background-image: url("../assets/img/sectCover/esd.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#mwfbiz {
  background-image: url("../assets/img/sectCover/bs.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#dsonic {
  background-image: url("../assets/img/sectCover/ds.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h3 a:hover {
  color: #1f1f1fde;
}

#inlivefrm .form-control {
  margin-bottom: 5px;
}
#justpass {
  width: 80%;
  float: left;
}

#subinlv {
  float: right;
  padding: 4px 8px;
}
#calcont {
  display: none;
  background-color: #181818ce;
  padding: 10px;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
}

#calendar {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #c7c7c7;
  position: relative;
}
#livfunc {
  top: 80px;
  right: 0px;
  position: fixed;
  width: 40px;
  z-index: 20000;
}
#livfunc span {
  display: inline-block;
}
#clcnas,
#onopcal {
  color: #ffffff;
  cursor: pointer;
  z-index: 20000;
  font-weight: 400;
  font-size: 20px;
  background-color: #ec2e2e;
  font-family: "Courier New", Courier, monospace;
  padding: 6px 8px;
  border-bottom: 1px solid white;
}

#livfunc span:hover {
  background-color: #f14646;
}
#youvidlst {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
  display: block;
}
/* DSonic Youtube */
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 240px;
  margin-bottom: 20px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 315px;
  border: 1px solid #c50f0f;
  border-radius: 10px;
  background-color: #c50f0f;
}

#mynote {
  width: 70%;
  max-width: 300px;
  top: 180px;
  right: 0px;
  position: fixed;
  background-color: #c50f0f;
  z-index: 10000;
  color: #d9d9d9;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
  box-shadow: 0 0px 15px 0 #d40d0da0;
  text-align: left;
  display: none;
  word-wrap: break-word !important;
}
#mynote a {
  color: white;
  text-decoration: underline;
}
#mynote::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
#mynote::-webkit-scrollbar-thumb {
  background-color: #a7a7a766;
  border: 2px solid #2a2a2a;
  border-radius: 5px;
}
#mynote::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}

#coninit {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20000;
  background-color: #18181889;
}

#prcon {
  max-width: 750px;
  overflow-y: auto;
  background-color: white;
  height: 95vh;
}
#clsprmcn {
  max-width: 750px;
  bottom: 0;
  width: 100%;
  background-color: #c50f0f;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 5px;
}
.textcon {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #181818;
}
.flwidth {
  width: 100%;
  height: 100%;
}
.mediacon {
  padding: 10px;
  background-color: #e5e5e5;
}
.mediacon iframe {
  width: 100%;
}
.mediacon object {
  width: 100%;
  height: 620px;
}
#intros {
  bottom: 0px;
  right: 80px;
  position: fixed;
  background-color: #c50f0f;
  color: white;
  padding: 0px 4px;
  cursor: pointer;
}

#intros:hover,
#clsprmcn:hover {
  background-color: #db2121;
}

/* ////////////////////// */
#openModalBtn {
  z-index: 100;
  bottom: 70px;
  right: 20px;
  position: fixed;
  outline: none;
  border: 0px;
  background-color: #181818;
  border-radius: 5px;
  width: 42px;
  height: 42px;
  padding: 2px;
}
#openModalBtn svg {
  width: 30px;
  height: 30px;
  color: white;
}
.modalcn {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000080;
}

.modalcn-content {
  background-color: #fefefe;
  margin: 0% auto;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  max-width: 800px;
  overflow-y: auto;
  color: #4c4c4c;
}
.modalcn-content a {
  color: #0000ff;
  text-decoration: none;
}
.modalcn-content a:hover {
  opacity: 0.8;
  z-index: 0;
}
.closepst {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0px;
  right: 10px;
  position: absolute;
}

.closepst:hover,
.closepst:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#arthead {
  position: sticky;
  top: 0px;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  z-index: 1;
}
/* Define the keyframes for the spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the spin animation to the element with the class .fa-sync-alt */
.loading-spin {
  animation: spin 2s linear infinite;
}

#fetchpsty {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-family: "Courier New", Courier, monospace;
  word-wrap: break-word !important;
}
#bdcont {
  word-wrap: break-word !important;
}
#fetchpsty h1,
#fetchpsty h2,
#fetchpsty h3,
#fetchpsty h4,
#fetchpsty h5 {
  color: #5a5a5a;
  font-family: "Courier New", Courier, monospace;
}
#fetchpsty iframe {
  width: 100%;
  height: 500px;
  border: 0px;
  padding: 10px;
}
#fetchpsty hr {
  width: 100%;
  border-width: 2px;
  border-color: #d2d2d2;
}
#dqtfrm {
  border: 0px;
  width: 100%;
  height: 600px;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
}
.intialcon {
  word-wrap: break-word !important;
}
.rfrshpst {
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
}

.rfrshpst:hover,
.rfrshpst:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#tutrldiv {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 95vh;
  overflow: auto;
  background: white;
  display: flex;
  text-align: left;
  z-index: 20000;
  padding: 10px;
  margin-bottom: 60px;
}

#clstutrl:active,
#clstutrl:focus {
  outline: none;
}
#sectutor {
  display: none;
}
#sectutor a {
  cursor: pointer;
  color: #c50f0f;
}

#sectutor a:hover {
  text-decoration: underline;
}

#clsmynt {
  bottom: 0px;
  left: 0px;
  padding: 0px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  position: sticky;
  text-align: center;
  background-color: black;
  cursor: pointer;
}
#clsmynt span {
  font-size: 14px;
}
#clsmynt:hover {
  background-color: #242424;
}
#opnote {
  padding-bottom: 20px;
}
#shwmnote {
  display: none;
  cursor: pointer;
  top: 200px;
  right: 0px;
  position: fixed;
  padding: 30px 5px 30px 5px;
  background-color: #e3e3e3;
  color: black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#shwmnote:hover {
  padding-right: 10px;
  background-color: #c6c6c6;
  transition: 0.1s;
}

#shwmnote span {
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: 600;
  line-height: 2;
}

#bottomDiv details {
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 30px;
  color: #ffffff;
  width: 90%;
}
#recordap {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 90000 !important;
  display: none;
}
#recordap iframe {
  width: 100%;
  height: 100vh;
  border: none;
}
#clsrecrdap {
  top: 10px;
  right: 10px;
  padding: 3px 10px;
  padding-top: 2px;
  position: fixed;
  background-color: #7878786d;
  color: black;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
#clsrecrdap:hover {
  opacity: 0.7;
}

.dwrldicn a {
  background-color: #dadadab4;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 4px;
  color: #454545;
  margin-right: 2px;
}
.dwrldicn a:hover {
  background-color: #dadada80;
}
