html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgb(210, 210, 210);
  font-size: 24px;
  padding: 0px 5px;
  cursor: pointer;
  z-index: 10;
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.story-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.story {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.story img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}
.play-pause-button {
  top: 0px;
  right: 10px;
  position: fixed;
  z-index: 100;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.progress-container {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 500px;
  z-index: 10;
}

.progress-bar {
  flex: 1;
  height: 5px;
  background-color: rgba(113, 113, 113, 0.5);
  margin: 0 5px;
  border-radius: 2px;
  transition: width 0.2s ease;
}

.progress-bar.active {
  background-color: white;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive Design */

@media (max-width: 768px) {
  .story img {
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .carousel-button,
  .play-pause-button {
    display: none;
  }
}

@media (max-width: 480px) {
  .story img {
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
