body {
  background-color: #dddddd; /*#282F39*/
  color: black;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
a,
button {
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.container-fluid {
  width: 100%;
} /* IE fix */

.cd-hero-slider .cd-full-width {
  padding-top: 0;
}

.cd-slider-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 1002;
  background: none;
}

.cd-slider-nav .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.cd-slider-nav li {
  display: block;
  float: none;
  width: auto;
}

.navbar-toggler {
  font-size: 1.75rem;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.637);
  border-radius: 0;
}

button:focus {
  outline: none;
}

.navbar-nav .nav-item {
  float: none;
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
}

.cd-slider-nav a,
.navbar-nav .nav-link {
  background-color: #2e6aebfd;
  color: black;
  display: table-cell;
  font-weight: 400;
  font-size: 1em;
  border-bottom: 1px solid black;
  vertical-align: middle;
  width: 190px;
  height: 40px;
}

.cd-slider-nav .nav-item.selected .nav-link,
.cd-slider-nav .nav-link:hover,
.cd-slider-nav .nav-link:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #0611ac;
  font-weight: 400;
}

/* Hero Slider */
.tm-icon {
  color: white;
  margin-bottom: 30px;
}

.tm-site-name {
  margin-bottom: 35px;
}

.cd-hero-slider .tm-site-name {
  font-size: 2em;
  font-weight: 400;
}

.cd-hero-slider {
  height: 100vh;
}

.cd-hero-slider li {
  list-style: none;
}

.cd-hero-slider li:last-child {
  background-size: auto;
}

.tm-bg-white-translucent::-webkit-scrollbar-track {
  background-color: #222222;
}
.tm-bg-white-translucent::-webkit-scrollbar-thumb {
  background-color: white;
  border: 2px solid #222222;
  border-radius: 3px;
}
.tm-bg-white-translucent::-webkit-scrollbar-thumb:hover {
  background-color: #d3d3d3;
}
.tm-bg-white-translucent::-webkit-scrollbar {
  background-color: #585858;
  width: 10px;
}
.tm-bg-white-translucent::-webkit-scrollbar-thumb {
  background-color: #585858;
}
.tm-bg-white-translucent p {
  color: #000000;
}

.tm-textbox {
  display: inline-block;
  padding: 40px 45px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}
.tm-text div,
.tm-text p {
  color: white;
}
.cd-hero-slider h2,
.cd-hero-slider p {
  max-width: none;
  width: 100%;
}
.tm-textbox-1-col {
  max-width: 650px;
}

.cd-hero-slider .tm-text {
  font-size: 1em;
  line-height: 1.8;
}

.tm-2-col-container {
  max-width: 800px;
  margin: 0 auto;
}

.tm-2-col-textbox {
  width: 100%;
  max-width: 600px;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; /* Fix flexbox in IE 10 bug https://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/ */
}

.cd-hero-slider h2.tm-text-title {
  color: #000002;
  font-size: 1.3em;
  font-weight: 400;
}

.tm-2-col-textbox {
  margin-bottom: 30px;
}
.tm-2-col-textbox:last-child {
  margin-bottom: 0;
}

.tm-font-w-400 {
  font-weight: 400;
}

/* footer */
.tm-social-link {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
}

.tm-social-link:last-child {
  margin-right: 0;
}

.tm-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tm-footer {
  width: 100%;
  color: white;
  z-index: 1001;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tm-copyright-text {
  margin-top: 20px;
  text-align: center;
}

.cd-full-width {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cd-hero-slider p:last-child {
  margin-bottom: 0;
}

/* Gallery */
.tm-img-gallery {
  max-width: 860px;
  margin: 10px auto 0;
  width: 100%;
}

.tm-img {
  width: 280px;
  height: auto;
  border: 10px solid #ffffff;
  margin: 0 auto 10px;
}

/* Contact */
.cd-hero-slider h2.tm-section-title {
  font-size: 3.2rem;
  font-weight: 400;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
}

.tm-contact-page {
  margin: 0 auto;
  max-width: 750px;
}

.form-control,
.tm-submit-btn {
  font-size: 1.8rem;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0;
  padding: 1rem 2rem;
}

.form-control::-webkit-input-placeholder {
  color: #000000;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}

.form-control:-ms-input-placeholder {
  color: #000000;
}

.tm-submit-btn {
  background-color: #333333;
  border: none;
  color: white;
  padding: 15px 35px;
}

.tm-submit-btn:hover,
.tm-submit-btn:focus {
  background-color: #161616;
}

textarea {
  height: 168px;
}

/* Preloader 
	https://ihatetomatoes.net/create-custom-preloading-screen/
	*/
/* ==========================================================================
	Author's custom styles
	========================================================================== */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 2001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(
      0deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(
      360deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(
      0deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(
      360deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 2000;
  -webkit-transform: translateX(
    0
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(
    -100%
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(
    100%
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(
    -100%
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

.cd-hero-slider.small-screen {
  height: 100%;
}
.cd-hero-slider .js-tm-page-content.tm-page-1 {
  margin-top: 20px;
}

/* Media Queries */
@media only screen and (min-width: 720px) {
  .tm-footer {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .tm-copyright-text {
    margin-top: 0;
  }
}

@media only screen and (min-width: 465px) {
  .cd-hero-slider .js-tm-page-content.tm-page-1 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .cd-hero-slider .js-tm-page-content.tm-page-1 {
    margin-top: 20px;
  }

  .navbar-nav .nav-item {
    float: left;
  }

  .cd-slider-nav a,
  .navbar-nav .nav-link {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .cd-slider-nav .nav-item.selected .nav-link,
  .cd-slider-nav .nav-link:hover,
  .cd-slider-nav .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .cd-slider-nav li {
    display: inline-block;
    width: auto;
    height: auto;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
  }

  .cd-slider-nav a,
  .navbar-nav .nav-link {
    font-size: 1.1em;
    height: 80px;
  }

  .cd-hero-slider .cd-full-width {
    padding-top: 0;
  }

  .tm-2-col-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .tm-2-col-textbox {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .tm-2-col-textbox:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
  .cd-slider-nav a,
  .navbar-nav .nav-link {
    font-size: 1em;
    width: 95px;
    height: 60px;
  }

  .cd-slider-nav .nav-item + .nav-item {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .cd-slider-nav .nav-item + .nav-item {
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-hero-slider h2,
  .cd-hero-slider p {
    margin-bottom: 25px;
  }
  .cd-hero-slider p:last-child {
    margin-bottom: 0;
  }
  .cd-hero-slider .cd-full-width {
    padding-top: 0;
  }
  .cd-hero-slider .tm-text {
    font-size: 1em;
  }
}

.footleft {
  bottom: 10px;
  left: 10px;
  position: fixed;
  border: none;
  cursor: pointer;
  padding: 4px 10px;
  background-color: #fffffff0;
}
.footleft:hover {
  background-color: #ffffffb4;
}
.footleft svg {
  width: 30px;
  height: 30px;
}
#ftstcon {
  bottom: 70px;
  left: 10px;
  position: fixed;
  display: block;
  width: 335px;
  padding: 15px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset -5px -5px #0611ac;
  display: none;
}
#ftstcon a {
  color: black;
  font-size: 14px;
  display: inline-block;
  padding: 4px 10px;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: inset -3px -3px #0611ac7a;
}
#ftstcon a:hover {
  transform: scale(0.9);
}
.upsticky {
  top: 0px;
  position: sticky;
  background-color: #8baefa;
  padding: 5px;
  z-index: 100;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
}
.tm-bg-white-translucent {
  background-color: #ffffffde;
  padding: 0px;
  color: #000000;
}
.btalkcon {
  padding: 10px;
}
.btalkcon .titimg {
  width: 100%;
  /* max-height:300px; */
  object-fit: contain;
  padding: 20px;
  background-color: #8bd7eea6;
}
.btalkcon img {
  cursor: zoom-in;
}
.zoomimg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

#enlrgimg {
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000000a6;
  z-index: 10000;
  justify-content: center;
}

#emprimgenlrg {
  width: 100vw;
  height: 100vh;
  max-height: 90vh;
  max-width: 80vw;
  margin-top: 5vh;
  padding: 10px;
  object-fit: contain;
}
.navbtalk {
  cursor: pointer;
}

.opbflscrn {
  bottom: 40px;
  right: 10px;
  position: absolute !important;
  font-size: 20px;
  padding: 4px;
  background-color: #ffffff6f;
  cursor: pointer;
}
.opbflscrn:hover {
  opacity: 0.8;
}
#extflbtn {
  bottom: 10px;
  right: 10px;
  position: fixed;
  z-index: 10000;
  border: 0;
  background: transparent;
}
#extflbtn i {
  font-size: 20px;
  padding: 4px;
  background-color: #ffffff6f;
  cursor: pointer;
}
.tm-textbox-1-col hr {
  border-color: #606060;
}
.fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #00000092;
  overflow-y: auto;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}

.fullscreen div,
.fullscreen p {
  width: 100%;
  max-width: 1000px;
  text-align: left;
  background-color: #ffffff;
  color: black;
}

.fullscreen hr {
  border-color: grey;
  color: grey;
}

.fullscreen::-webkit-scrollbar-track {
  background-color: #222222;
}
.fullscreen::-webkit-scrollbar-thumb {
  background-color: white;
  border: 2px solid #222222;
  border-radius: 3px;
}
.fullscreen::-webkit-scrollbar-thumb:hover {
  background-color: #d3d3d3;
}
.fullscreen::-webkit-scrollbar {
  background-color: #585858;
  width: 10px;
}
.fullscreen::-webkit-scrollbar-thumb {
  background-color: #585858;
}

.slssectp ol,
.slssectp li {
  display: block;
}
