.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}
.video-item {
  width: 30%;
  margin-bottom: 20px;
}
.video-item video {
  width: 100%;
  cursor: pointer;
}
.copy-button {
  margin-top: 0px;
  font-size: 14px;
  width: 100%;
}
.pagination {
  justify-content: center;
}
