body {
  font-family: "Inter", sans-serif;
  background-color: #0a0a0a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #18181b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}
header {
  background: #4e4e4ea9 !important;
}
@media (max-width: 768px) {
  .mobile-search {
    order: 1;
    width: 100%;
    margin-top: 0.5rem;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-search,
  #mobile-saavn-bitrate {
    margin-top: 0.5rem;
  }

  .lofi-toggle {
    display: flex !important;
    margin-top: 0.5rem;
  }

  .search-query-container {
    display: none;
  }

  .header-container {
    max-height: 160px;
    overflow-y: auto;
  }

  .lofi-rad {
    display: none;
  }
}

.search-query-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  width: calc(100% - 40px);
  position: relative;
}

.search-query-container::-webkit-scrollbar {
  display: none; /* WebKit */
}

.search-query-button {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #374151;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-query-button:hover {
  background-color: #4b5563;
}

.lofi-toggle.active {
  background-color: #3ea6ff;
}
footer {
  z-index: 1000 !important;
}
main {
  z-index: 0 !important;
}

#clstnmtr {
  cursor: pointer;
  background-color: #6d6d6d45;
  padding: 3px 10px;
  font-size: 14px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-radius: 7px;
  align-items: center;
  margin-left: 10px;
  display: none;
}

#clstnmtr:hover {
  background-color: #6d6d6da1;
}

.scroll-right-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background: #27272a;
  color: #fff;
  border: none;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
}
.scroll-right-btn:hover {
  opacity: 0.7;
}
